* {
  font-family: 'Chango', cursive;
}

body{
  background: url(https://3.bp.blogspot.com/-AUyja7OpVpY/XGqseLaR-1I/AAAAAAAAGIs/4e2NelsV_A0Ne3_0ZlhW-i2iNhJzkJLOwCHMYCw/s1600/abstract-polygonal-colorful-background-%25E2%259D%25A4-4k-hd-desktop-wallpaper.jpg);
}
h3{
  margin-top: 40px;
}

.display {
  display:none;
}
